<img src="{{eventToDisplay?.image}}" alt="" width="100%">
<h2>
{{eventToDisplay?.title}}
</h2>
<h4>Mentor: {{eventToDisplay?.mentor}},  <em>{{eventToDisplay?.topic}}</em></h4>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
    <div class="card-content">
      <p>{{eventToDisplay?.description}}</p>
    </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
    <div class="card-content">
      <h5>{{eventToDisplay?.location}}</h5>
      <h5>{{eventToDisplay?.date}}, {{eventToDisplay?.time}} </h5>
      <p>{{eventToDisplay?.guests}} of {{eventToDisplay?.maximum}} Spots Filled</p>
      <br>
      <p>Click the link below to record your interest in {{eventToDisplay?.title}} and reserve your spot before spaces are full.</p>
    </div>
    <hr>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li (click)="rsvpButtonClicked()" class="tab"><a>RSVP to Reserve a Spot</a></li>
      </ul>
    </div>

  </div>
  </div>
</div>
